@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


body {
  font-family: "Plus Jakarta Sans",
    sans-serif !important;

}

p,
h1,
h2,
h3,
h4 {
  margin-bottom: 0 !important;
}

.manrope_font {
  font-family: "Manrope",
    sans-serif !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* ==============ROOT VARIABLES============= */
:root {
  /* FONT SIZES */
  --font-xsm: 12px;
  --font-sm: 14px;
  --font-m: 16px;
  --font-md: 18px;
  --font-lg: 20px;
  --font-xl: 24px;
  --font-xxg: 56px;
  --font-xxl: 64px;

  /* ROOT-COLORS  */
  --white-color: #fff;
  --black-color: #000;
  --red-color: #ff0000;
  --dark-black: #141414;
  --dark-black-second: #010101;
  --border-light: #e0e0e0;
  --pink: #f7d4d4;
  --background-light: #ffebeb;
  --light-black: #1b2228;
  --footer-border: #7f7f7f;
  --light-pink: #81848a;
  --grey-color: #d9d9d9;
  --border-grey: #dcdcdc;
  --grey: #767676;
}

/* ================= MEDIA QUERISE FONT ======================= */
@media (max-width: 1399.98px) {
  :root {
    --font-xsm: 12px;
    --font-sm: 14px;
    --font-m: 16px;
    --font-md: 18px;
    --font-lg: 20px;
    --font-xl: 24px;
    --font-xxg: 45px;
    --font-xxl: 48px;
  }
}

@media (max-width: 1199.98px) {
  :root {
    --font-xsm: 12px;
    --font-sm: 14px;
    --font-m: 16px;
    --font-md: 18px;
    --font-lg: 20px;
    --font-xl: 22px;
    --font-xxg: 40px;
    --font-xxl: 45px;
  }
}

@media (max-width: 991.98px) {
  :root {
    --font-xsm: 12px;
    --font-sm: 14px;
    --font-m: 16px;
    --font-md: 18px;
    --font-lg: 20px;
    --font-xl: 18px;
    --font-xxg: 36px;
    --font-xxl: 40px;
  }
}

@media (max-width: 767.98px) {
  :root {
    --font-xsm: 12px;
    --font-sm: 12px;
    --font-m: 16px;
    --font-md: 16px;
    --font-lg: 18px;
    --font-xl: 16px;
    --font-xxg: 34px;
    --font-xxl: 35px;
  }
}

@media (max-width: 575.98px) {
  :root {
    --font-xsm: 12px;
    --font-sm: 12px;
    --font-m: 14px;
    --font-md: 14px;
    --font-lg: 16px;
    --font-xl: 14px;
    --font-xxg: 30px;
    --font-xxl: 32px;
  }
}

/* ======================= FONT WEIGHT============================== */
.fw_400 {
  font-weight: 400 !important;
}

.fw_600 {
  font-weight: 600 !important;
}

.line_height_paragraph {
  line-height: 28.8px !important;
}

.line_height_para {
  line-height: 25.6px !important;
}

/* ======================= COMMON COLORS============================== */
.black {
  color: var(--black-color) !important;
}

.white {
  color: var(--white-color) !important;
}

.red {
  color: var(--red-color) !important;
}

.dark_black {
  color: var(--dark-black) !important;
}

.dark_black_second {
  color: var(--dark-black-second) !important;
}

.border_light {
  color: var(--border-light) !important;
}

.pink {
  color: var(--pink) !important;
}

.background_light {
  color: var(--background-light) !important;
}

.light_black {
  color: var(--light-black) !important;
}

.foter_border {
  color: var(--footer-border) !important;
}

.light_pink {
  color: var(--light-pink) !important;
}

.grey_color {
  color: var(--grey-color) !important;
}

.border_grey {
  color: var(--border-grey) !important;
}

.grey {
  color: var(--grey) !important;
}


/* ======================= COMMON CLASSES============================== */

.font_xsm {
  font-size: var(--font-xsm);
}

.font_sm {
  font-size: var(--font-sm);
}

.font_m {
  font-size: var(--font-m);
}

.font_md {
  font-size: var(--font-md);
}

.font_lg {
  font-size: var(--font-lg);
}

.font_xl {
  font-size: var(--font-xl);
}

.font_xxg {
  font-size: var(--font-xxg);
}

.font_xxl {
  font-size: var(--font-xxl);
}

.cursur {
  cursor: pointer;
}

.line_28 {
  line-height: 28.8px;
}

.common_btn {
  padding: 17px 31.2px;
  border-radius: 56px;
  color: var(--white-color);
  background-color: var(--red-color);
  border: 1px solid var(--red-color);
  transition: 0.4s ease-in-out;
}

.common_btn:hover {
  color: var(--red-color);
  background-color: var(--white-color);
  border: 1px solid var(--white-color);
}

button:focus-visible {
  outline: none !important;
}


/* ======================= NAVBAR CSS ============================== */
.navbar_btn_quote {
  padding: 13px 20.235px;
}

.navbar_btn_quote:hover svg path {
  fill: var(--red-color);

}

.navbar_btn_quote:hover {
  border: 1px solid var(--red-color);
}


/* ======================= HERO SECTION ============================== */

.hero_bg {
  background: url("./assets/webp/hero-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 810px;
}

.hero_para {
  max-width: 742px;
}

.google_review_box {
  background-color: var(--white-color);
  border-radius: 16px;
  padding: 6px 16px 6px 16px;
  width: 229.17px;
  height: 80px;
  border: 1px solid var(--white-color);
  transition: 0.3s ease-in-out;
}

.google_review_box:hover {
  border: 1px solid var(--red-color) !important;
}

.installer_hero_icon {
  width: 80px;
  height: 80px;
}


/* ============== WHY CHOOSE US ============= */

.why_choose_section {
  background-color: var(--background-light);
}

.star_box {
  width: 62px;
  height: 62px;
  background-color: var(--pink);
  border-radius: 10px;
}

.red_box {
  width: 300px;
  height: 396px;
  background-color: var(--red-color);
  border-radius: 24px;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.img_box {
  z-index: 2;
}

.why_choose_para {
  max-width: 590px;
}

.choose_img {
  width: 469px;
  height: 523px;
  border-radius: 24px;
  object-fit: cover;
}

.choose_para {
  max-width: 370px;
}

.chose_quote_btn:hover {
  border: 1px solid var(--red-color);
  background-color: transparent;
}



/* ============== HOW IT WORKS ============= */
.red_box_second {
  width: 300px;
  height: 369px;
  background-color: var(--red-color);
  border-radius: 24px;
  left: 0;
  bottom: -28px;
  z-index: 1;
}

.works_box {
  box-shadow: 0px 1px 28px 1px #4747471A;
  border-radius: 24px;
  transition: 0.3s ease-in-out;
  border: 1px solid var(--white-color);
}

.works_box:hover {
  border: 1px solid var(--red-color);
}

.works_img {
  width: 435px;
  height: 581px;
  border-radius: 24px;
  object-fit: cover;
}

.works_quote_btn:hover {
  border: 1px solid var(--red-color);
}

.view_tile_quote_btn {
  background-color: transparent;
  color: var(--red-color);
}

.view_tile_quote_btn:hover {
  background-color: var(--red-color);
  color: var(--white-color);
  border: 1px solid var(--red-color);
}

.works_boxs {
  width: 592px;
}


/* ============== GET IN TOUCH WITH US ============= */
.intersted_box {
  background-image: url("./assets/png/getintouchbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 24px;
  height: 447px;
}

.get_in_touch {
  max-width: 620px !important;
}

.mx_316 {
  max-width: 316px;
}

.get_in_touch_btn {
  background-color: var(--white-color);
  color: var(--red-color);
  border: 1px solid var(--white-color);
}

.get_in_touch_btn:hover {
  background-color: var(--red-color);
  color: var(--white-color);
}



/* ============== WHAT WE DO CSS ============= */
.what_we_do_card {
  border: 1px solid var(--border-light);
  border-radius: 24px;
  transition: 0.3s ease-in-out;
}

.what_we_do_card:hover {
  box-shadow: 0px 0px 12px 3px #B6B6B640;
  border: 1px solid transparent;
  border-radius: 24px;
}

.learn_more_btn {
  border: none;
  background-color: transparent;
}

.what_we_do_para {
  max-width: 314px;
}

.learn_more_btn img {
  transition: 0.3s ease-in-out;
}

.learn_more_btn:hover img {
  margin-left: 10px;
}




/* ============== FAQ SECTION ============= */

.accordion {
  width: 912px;
  margin: auto;
}

.accordion-item {
  box-shadow: 0px 2px 44px 3px #5757571A !important;
  padding: 0px 0px !important;
  border-radius: 16px !important;
  border: none !important;
}

.accordion-button {
  font-size: var(--font-md) !important;
  padding: 25.21px 20px !important;
  border-radius: 16px !important;
  color: var(--black-color) !important;
}

.accordion-button:focus {
  border-color: none !important;
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  color: var(--black-color) !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

.accordion-body {
  color: var(--black-color) !important;
  padding: 0px 100px 25.21px 20px !important;
  font-size: var(--font-md);
}

.accordion-button::after {
  flex-shrink: 0;
  width: 20px !important;
  height: 20px !important;
  margin-left: auto;
  content: "";
  background-image: url("./assets/svg/accordion-faq.svg") !important;
  background-repeat: no-repeat;
  background-size: 100% !important;
  transition: transform .2s ease-in-out;
}


/* ============== SERVICES CSS START ============= */

.services_box {
  box-shadow: 0px 1px 28px 1px #4747471A;
  border-radius: 24px;
  transition: 0.3s all;
  border: 1px solid var(--white-color);
}

.services_box:hover {
  border: 1px solid var(--red-color);
}

.slick-slide {
  padding: 10px;
}

.slick-list {
  margin: 0 -10px;
}



/* ============== FOOTER CSS ============= */

.hover_icon img {
  transition: 0.3s ease-in-out;
  width: 32px;
  height: 32px;
}

.hover_icon:hover img {
  transform: scale(1.2);
}

.foter_logo {
  width: 175.59px;
  height: 86px;
}

.footer_link {
  transition: 0.3s ease-in-out;
}

.footer_link:hover {
  color: var(--red-color) !important;
}

.mail_hover {
  transition: 0.3s ease-in-out;
}

.mail_hover:hover {
  color: var(--red-color) !important;
}

.main_box {
  border-radius: 62px;
  height: 74px;
  background-color: var(--white-color) !important;
  border: 1px solid var(--grey-color) !important;
  padding: 9.14px 10px 9.14px 25px;
}

.subscribe_btn {
  padding: 14.87px 39.72px !important;
}


.copyright_border {
  background-image: linear-gradient(90deg, hsla(0, 0%, 9%, 0), #696969 51.56%, hsla(0, 0%, 9%, 0));
  height: 2px !important;
}

.foter_newslater {
  width: 340px;
}

.legal_parent {
  width: 110px;
}

.footer_product {
  width: 150px;
}

.footer_links {
  width: 140px;
}





@media(min-width:1400px) {
  .container {
    max-width: 1140px !important;
  }
}

@media(max-width:1199.98px) {
  .choose_img {
    width: 376px;
    height: 500px;
  }

  .works_img {
    width: 350px;
    height: 558px;
  }

  .works_boxs {
    width: 100%;
  }
}

@media(min-width:992px) {
  .main_red_box {
    height: 603px;
  }
}

@media(max-width:991.98px) {
  .hero_text {
    max-width: 550px;
  }

  .choose_img {
    width: 469px;
    height: 500px;
  }

  .works_img {
    width: 469px;
    height: 500px;
  }

  .intersted_box {
    height: 379px;
  }
}


@media (max-width:767.98px) {
  .what_we_do_card {
    width: 364px;
    margin: auto;
  }

  .services_box {
    border-radius: 12px;
  }

  .services_box img {
    width: 40px;
  }
}


@media(max-width:575.98px) {
  .review_padding_right {
    margin-right: 5px !important;
  }

  .line_28 {
    line-height: 21px;
  }

  .common_btn {
    padding: 13px 23.2px;
  }

  .nav-quantum {
    height: 70px;
  }

  .choose_img {
    width: 100%;
    height: 350px;
    border-radius: 12px;
  }

  .star_box {
    width: 52px;
    height: 52px;
  }

  .works_img {
    width: 100%;
    height: 350px;
    border-radius: 12px;
  }
}


@media(max-width:420px) {
  .what_we_do_card {
    width: 100%;
  }

  .services_box {
    width: 100%;
  }

  .services_box img {
    width: 30px;
  }
}