/*============================ NAVBAR ============================ */

.nav-quantum {
    background-color: white;
    height: 84px;
    border-radius: 24px !important;
}

.nav-quantum img {
    width: 105.67px;
    height: 52px;
}

.hero_btn:hover svg path {
    fill: var(--red-color);
    font-size: var(--font-m);
}

.hero_btn {
    font-size: var(--font-m);
    padding: 12.2px 18.82px !important;
}

.navbar_btn {
    background-color: var(--white-color) !important;
    color: var(--red-color) !important;
    border: 1px solid var(--white-color) !important;
    padding: 12.91px 25.96px !important;
}

.navbar_btn:hover {
    background-color: var(--red-color) !important;
    color: var(--white-color) !important;
}

.navbar_btn:hover svg path {
    fill: var(--white-color) !important;
}

.navbar-wrapper .navbar-btns button:hover {
    background-color: transparent;
    color: #0ed145;
}

.navbar-wrapper .navbar-btns button:hover .cmmg-soon {
    display: inline-block;
}

.navbar-wrapper .navbar-btns button:hover .launch-app {
    display: none;
}

.navbar-wrapper {
    width: 100%;
}

/* NAVBAR-HOVER */
.navbar-wrapper .nav-items-list a {
    text-decoration: none;
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    color: var(--white);
    position: relative;
}

.navbar-wrapper .nav-items-list a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -5px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--red-color);
    -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a {
    text-decoration: none !important;
}

.navbar-wrapper .nav-items-list a:hover::after {
    width: 100% !important;
    left: 0 !important;
}

/* NAVBAR-HOVER-END */

.navbar-wrapper .search-icon {
    z-index: 4;
}

.navbar-wrapper .hamburger-menu {
    position: relative;
    width: 35px;
    cursor: pointer;
    height: 25px;
}

.navbar-wrapper .first {
    top: 0;
    -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms cubic-bezier(0.23, 1, 0.32, 1),
        -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.navbar-wrapper .sec {
    top: 11px;
    background: var();
    -webkit-transition: all 0ms 300ms;
    transition: all 0ms 300ms;
}

.navbar-wrapper .third {
    top: 22px;
    -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms cubic-bezier(0.23, 1, 0.32, 1),
        -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.navbar-wrapper .hamburger-menu span {
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    display: inline-block;
    left: 0;
    z-index: 1;
}

.navbar-wrapper .animate .sec {
    opacity: 0;
}

.navbar-wrapper .animate .first {
    background-color: #fff !important;
    top: 11px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
        -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
        -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.navbar-wrapper .animate .third {
    background-color: #fff !important;
    top: 11px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
        -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
        -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.navbar-wrapper .hamburger-menu.animate span {
    background-color: transparent;
}

.overlay-btns button:hover {
    background-color: transparent;
    color: var();
}

@media (max-width: 992px) {
    .overlay-links {
        color: hsl(0, 0%, 100%);
        opacity: 1;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        position: relative;
    }

    .overlay-links::after {
        position: absolute;
        content: "";
        width: 0%;
        height: 3px;
        left: 0;
        bottom: -5px;
        background-color: white;
        transition: all 0.3s ease-in-out;
        transform: scale(0);
    }

    .overlay-links:hover::after {
        width: 100%;
        transition: all 0.3s ease-in-out;
        transform: scale(1);
    }

    .mobile-view #overlay {
        -webkit-transition: 0.7s ease;
        transition: 0.7s ease;
        opacity: 1;
        pointer-events: all;
        z-index: 1;
    }

    .mobile-view #overlay .left {
        opacity: 1;
        width: 100%;
        height: 100vh;
    }

    .mobile-view #overlay .left .copyright a {
        font-size: 18px;
        -webkit-animation: mymove 0.9s;
        animation: mymove 0.9s;
        -webkit-animation-delay: 1.2s;
        animation-delay: 1.2s;
        opacity: 0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .mobile-view #overlay .left .copyright a:hover {
        text-decoration: none;
    }

    .mobile-view #overlay .left ul li:nth-child(1) {
        -webkit-animation: mymove 0.9s;
        animation: mymove 0.9s;
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .mobile-view #overlay .left ul li:nth-child(2) {
        -webkit-animation: mymove 0.9s;
        animation: mymove 0.9s;
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .mobile-view #overlay .left ul li:nth-child(3) {
        -webkit-animation: mymove 0.9s;
        animation: mymove 0.9s;
        -webkit-animation-delay: 0.7s;
        animation-delay: 0.6s;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .mobile-view #overlay .left ul li:nth-child(4) {
        -webkit-animation: mymove 0.9s;
        animation: mymove 0.9s;
        -webkit-animation-delay: 1s;
        animation-delay: 0.8s;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .mobile-view #overlay .left ul li:nth-child(5) {
        -webkit-animation: mymove 0.9s;
        animation: mymove 0.9s;
        -webkit-animation-delay: 1.3s;
        animation-delay: 1s;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .mobile-view #overlay .left ul li:nth-child(6) {
        -webkit-animation: mymove 0.9s;
        animation: mymove 0.9s;
        -webkit-animation-delay: 1.5s;
        animation-delay: 1.2s;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .mobile-view #overlay .left ul li:nth-child(7) {
        -webkit-animation: mymove 0.9s;
        animation: mymove 0.9s;
        -webkit-animation-delay: 1.7s;
        animation-delay: 1.4s;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .mobile-view #overlay .left ul li:nth-child(8) {
        -webkit-animation: mymove 0.9s;
        animation: mymove 0.9s;
        -webkit-animation-delay: 1.9s;
        animation-delay: 1.6s;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .mobile-view #overlay .left ul li:nth-child(9) {
        -webkit-animation: mymove 0.9s;
        animation: mymove 0.9s;
        -webkit-animation-delay: 2.1s;
        animation-delay: 1.8s;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .mobile-view #overlay .left ul li:nth-child(10) {
        -webkit-animation: mymove 0.9s;
        animation: mymove 0.9s;
        -webkit-animation-delay: 2.3s;
        animation-delay: 2s;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    #overlay {
        -webkit-transition: 1s ease !important;
        transition: 1s ease !important;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--red-color);
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
}

.svg-img {
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
}

.svg-img:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 10px var(--white);
}

@-webkit-keyframes mymove {
    from {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        opacity: 1;
    }
}

@keyframes mymove {
    from {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        opacity: 1;
    }
}

.left,
.right {
    opacity: 0;
}

.fix-screen-mobile {
    height: 100vh;
    overflow: hidden;
}

.left li,
.right li {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 0;
}

@media (min-width: 992px) {
    #overlay {
        display: none;
    }
}

@keyframes new {
    0% {
        transform: translateY(-10px);
    }

    25% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    75% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-10px);
    }
}







































@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");

body {
    font-family: 'Inconsolata', sans-serif;
    background: #2a364f;
}

h1 {
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.credit {
    text-align: center;
    color: rgba(255, 255, 255, 0.4);

}

.content {
    padding-top: 45px;
    padding-bottom: 20px;
}

.button_container {
    width: 176px;
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 40px;
}

.button_su {
    overflow: hidden;
    position: relative;
    display: inline-block;
    border-radius: 3px;
    margin-bottom: 30px;
}

.su_button_circle {
    background-color: red;
    border-radius: 1000px;
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    pointer-events: none;
    /*animation-timing-function: ease-in-out; */
}

.button_su_inner {
    display: inline-block;
    background: #F8B627;
    color: #F4F4F4;
    font-size: 16px;
    font-weight: normal;
    width: 132px;
    text-align: center;
    border-radius: 3px;
    transition: 400ms;
    text-decoration: none;
    padding: 22px;
    z-index: 100000;
}

.button_text_container {
    position: relative;
    z-index: 10000;
}

.explode-circle {
    animation: explode 0.5s forwards;

}

.desplode-circle {
    animation: desplode 0.5s forwards;
}

@keyframes explode {
    0% {
        width: 0px;
        height: 0px;
        margin-left: 0px;
        margin-top: 0px;
        background-color: rgba(42, 53, 80, 0.2);
    }

    100% {
        width: 400px;
        height: 400px;
        margin-left: -200px;
        margin-top: -200px;
        background-color: rgba(20, 180, 87, 0.8);
    }
}

@keyframes desplode {
    0% {
        width: 400px;
        height: 400px;
        margin-left: -200px;
        margin-top: -200px;
        background-color: rgba(20, 180, 87, 0.8);
    }

    100% {
        width: 0px;
        height: 0px;
        margin-left: 0px;
        margin-top: 0px;
        background-color: rgba(129, 80, 108, 0.6);
    }
}